

<p id="notice"><%= notice %></p>
<!--
<h1>Itineraries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody class = "itineraries">
    <% @trip.itineraries.each do |itinerary| %>
      <tr>
        <td class = "itin_title"><% itinerary.title %></td>
        <td class = "itin_desc"><% itinerary.description %></td>
        <td><% itinerary.start_time.strftime("%A, %B %e - %l:%M %p") %></td>
        <td><% itinerary.end_time.strftime("%A, %B %e - %l:%M %p") %></td>
        <td><% link_to 'Show', group_trip_itinerary_path(@trip.group,@trip,itinerary) %></td>
        <td><% link_to 'Edit', edit_group_trip_itinerary_path(@trip.group,@trip,itinerary) %></td>
        <td><% link_to 'Destroy', group_trip_itinerary_path(@trip.group, @trip, itinerary), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody> -->
<!-- </table> -->
<p class = "link"><%= link_to 'Add an Event!', new_group_trip_itinerary_path(@trip.group,@trip) %></p>
<div id="calendar"></div>


<br>
<script>
  $('#calendar').fullCalendar({
     events: '<%= group_trip_itineraries_path(format: :json) %>',
    selectable: true,
    selectHelper: true,
    editable: true,
    eventStartEditable: true,
    eventLimit: true,
    eventColor: 'black',
    eventBackgroundColor: '#80d',
    eventTextColor: 'white',
    header: { left: 'month,agendaWeek,agendaDay', center: 'title' },
    navLinks: true,
    eventDrop: function(event, delta, revertFunc) {
      if (!confirm("Selected event will be moved, please confirm")) {
            revertFunc();
          }
        }
      });
</script>
