<div id="itineraries">
<h2>New Itinerary</h2>

<%= render 'form', itinerary: @itinerary, url: group_trip_itineraries_path(@trip.group, @trip) %>

<%= link_to 'Back', group_trip_itineraries_path(@trip.group,@trip) %>
</div>
