
<p>
  <%= @trip.city %>
</p>
<form id="search">
  <input type="text" name="search" placeholder="e.x. Restaurants, Concerts, Venues">
  <select form="search" name="distance">
  	<option value="10">Select a radius (in miles)</option>
  	<option value="10">10</option>
  	<option value="25">25</option>
  	<option value="50">50</option>
  	<option value="100">100</option>
  </select>
  <select form="search" name="sort">
  	<option value="dist">Sort by:</option>
  	<option value="dist">Distance</option>
  	<option value="name">Alphabetical</option>
  	<option value="rank">Popularity</option>
  </select>
  <input type="submit" value="search">
</form>
<div id="results"></div>
<!-- <% render :partial => "itineraries/form", :locals => {:itinerary => @itinerary} %> -->
<script>
$(document).ready(function(){
	$("#search").submit(function(event){
		event.preventDefault();
		$("#results").html('');
		var distance = $("#search input[name=distance]").val();
		var query = $("#search input[name=search]").val();
		var sort = $("#search input[name=sort").val();
		$.getJSON("<%= search_path(@trip) %>.json",

		{
			distance: distance,
			query: query,
			sort: sort
		},
		function(response) {
			console.log(response);
			response.response.forEach(function(listing,index){
				var template =
				`<article class="listing" id="listing_${index}">
					<img src="${listing.image}"
					<h4 class="title">${listing.name}</h4>
					<p class="description">${listing.description}</p>
					<p class="rating">${listing.rating}</p>
					<a href="${listing.website}">Website</a>
				</article>`;
				$("#results").append(template);
			});
		}
		);
	});
});
</script>

<%= link_to 'Back', group_trips_path(@group) %>
