/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html{
 	background-color: #7abff9;
 }
 a:hover{
 	background-color: rgba(0,0,0,0);
 }
body{
	margin: 0;
	background-color: #7abff9;
 }
header{
	background-color: #80d;
}
header a{
	color: #fff !important;
}
header p{
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}
#logoref{
	text-align: center;
	display: block;
	vertical-align: middle;
	margin: 20px auto;
}
#logo{
	width: 80%;
}
header h3{
	font-family: 'Patua One', serif;
	display: block;
	margin: 5px auto;
	font-size: 3em;
	color: #fff;
}
header form{
	text-align: right;
}
#login{
	text-align: right;
	margin: 20px;
}
header #login, header form, input, header label, .actions, #shared, #remember{
	display: inline-block;
	border-radius: 5px;
	margin: 5px;
}
#submit{
    background-color: #7abff9;
    border: 3px solid #fff46c;
    border-radius: 15px;
    color: #fff;
}
#login label{
	color: #fff;
}