// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#groups{
	width: 70%;
	background-color: #fff;
	margin: 20px auto;
	padding: 30px;
	border-radius: 20px;
	#fleet{
		background-color: #fff;
	}
	h2{
		font-family: 'Patua One';
		font-size: 4em;
		color: #80d;
		text-align: center;
		display: inline-block;
	}
	a:hover{
		color: #80d;
	}
	.grouptitle{
		text-align: center;
		h2{
			font-family: 'Patua One';
			font-size: 4em;
			color: #80d;
			text-align: center;
			display: inline-block;
		}
		a{
			display: inline-block;
		}
	}
	h3{
		font-family: 'Zilla Slab';
		font-size: 3em;
		color: #fff46c;
		text-shadow: 1px 1px 1px #80d;
		text-align: center;
		margin-top: 0;
	}
	p{
		text-align: center;
		font-family: 'Nunito'
	}
	#fleet, #triplist{
		display: inline-block;
		width: 40%;
		margin:	0 4%;
		vertical-align: top;
		h4{
			font-family: 'Zilla Slab';
			color: #80d;
		}
	}
	#triplist{
		a.trip{
			font-size: 1.5em;
			font-weight: bold;
		}
		a{
			display: block;
		}
	}

	#fleet{
		.friendsPic{
			height: 50px;
			width: 50px;
			background-size: cover;
			border-radius: 50%;
			display: inline-block;
		}
		a{
			font-family: 'Nunito';
			font-size: 1.5em;
			vertical-align: 100%;
		}
		#addfriendslist{
			height: 100px;

			font-size: .9em;
			overflow-y: scroll;
			padding: 0 10px 10px 10px;
			border-left: 1px solid #80d;
		}
		#more{
			font-size: 1em;
			font-family: 'Nunito';
			text-align: center;
			margin: 0px auto;
		}
	}
}

