// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home{
	background-color: #7abff9;
	color: #fff;
	h2{
		font-family: 'Patua One';
		font-size: 5em;
		text-align: center;
	}
	h3{
		font-family: 'Zilla Slab';
		text-align: center;
	}
}