// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home{
	background-color: #7abff9;
	color: #fff;
	h2{
		font-family: 'Patua One';
		font-size: 5em;
		text-align: center;
	}
	h3{
		font-family: 'Zilla Slab';
		text-align: center;
		border-bottom: 1px solid #888;
	}
	#dashboard{
		background-color: #fff;
		width: 30%;
		margin: 40px 20px;
		padding: 20px;
		border-radius: 20px;
		display: inline-block;
		h3{
			color: #80d;
		}
		p{
			color: #707070;
		}
		a:hover{
			color: #80d;
			text-decoration: none;
		}
		.group{
			border-bottom: 1px solid #888;
			h4, p, ul{
				font-family: 'Nunito'
			}

			ul{
				color: #888;
			}
		}
	}
}